.main-header {
    background-color: #ffffff;
    color: #ff0000;
    text-align: center;
    padding: 20px;
}

.company-logo {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.challenge-tagline {
    font-style: italic;
    margin: 0px;
}