body {
    scrollbar-width: none;
    min-height: 100vh;
    user-select: none;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

.challange-container {
    display: flex;
}



.card-header {
    background-color: #ff0000 !important;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #ff0000 !important;
    border-radius: 8px 8px 0 0 !important;
}

.card-body {
    background-color: #e6e6e6;
    border: 1px solid #ff0000 !important;
    font-size: 1.3rem;
    border-radius: 0 0 8px 8px !important;

}