.accordion-container {
    display: flex;
}

.accordion-button {
    background-color: #ff0000;
    width: 260px;
    text-align: left;
    margin-left: 12px;
}

.accordion-button:not(.collapsed) {
    background-color: #ff0000;
    width: 260px
}

.table {
    border: 2px solid #ff0000;
    width: 50%;
}

.table th,
.table td {
    border: 1px solid #ff0000;
    text-align: left;
}